:root {
	font-size: 20px;
	--clr-accent: #7fd1ae;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.1px;
	font-size: 1rem;
	color: #333;
}

body {
	background-color: white;
	/* background: snow; */
	color: #333;
}

input, textarea {
	display: block;
	background-color: inherit;
	border: none;
	padding: .5em .75em;
}

input:focus, textarea:focus {
	outline: none;
	background-color: rgba(0, 0, 0, 0.05);
}
input{
	font-size: 1.1rem;
}

textarea {
	resize: none;
	font-size: .85rem;
}
